*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Jost;
}

.CM{
    width: 73px;
    height: 22px;
}

.AU{
    width: 73px;
    height: 22px;
}

.FU{
    width: 73px;
    height: 22px;
}

.AC{
    width: 73px;
    height: 22px;
}